@font-face {
    font-family: 'hornswogglednormal';
    src: url('hornswog-webfont.eot');
    src: url('hornswog-webfont.eot?#iefix') format('embedded-opentype'),
         url('hornswog-webfont.woff2') format('woff2'),
         url('hornswog-webfont.woff') format('woff'),
         url('hornswog-webfont.ttf') format('truetype'),
         url('hornswog-webfont.svg#hornswogglednormal') format('svg');
    font-weight: normal;
    font-style: normal;

}