.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

.carousel {
  box-shadow: 0px 3px 8px #2a2a2a;
}

.carousel-caption {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 60px;
    font-weight:100;
    text-shadow: rgba(0,0,0,0.95) 2px 2px;
    background-color: rgba(0,0,0,0.5);
    width:100%;
    position:absolute;
    left:0;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    max-height: 550px;
    width: 100%;
}

.clear {
  clear:both;
}

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding:8px;
}

.navbar.navbar-inverse {
  background: url('/assets/subtle_white_mini_waves.png');
  border-radius: 0;
  box-shadow: 0px 1px 3px #2a2a2a;
  margin-bottom: 0;
}

.navbar-inverse .navbar-brand {
  color: #5C82AB;
  font-family: 'hornswogglednormal', serif;
}

.apple_pagination2 {
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  cursor: default; }
  .apple_pagination2 a, .apple_pagination2 span {
    padding: 0.2em 0.3em;
    text-align: center; }
  .apple_pagination2 .disabled {
    color: #aaaaaa; }
  .apple_pagination2 .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
      text-align: center; }
  .apple_pagination2 a {
    text-decoration: none;
    color: black; }
    .apple_pagination2 a:hover, .apple_pagination2 a:focus {
      text-decoration: underline; }

.pagination {
  margin: 0px;
}

body {
  background: url('/assets/subtle_white_mini_waves.png');
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;

}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C" "\201D";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

#map {
  height: 300px;
}